<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./../../../css/styles.css">
</head>
<body>
    <div class="container mx-auto">
        <div class="w-9/12 mx-auto">
            <form action="" method="post" class="flex flex-col items-center justify-center gap-2">
                <div class="flex flex-col bg-biru text-white mb-2">
                    <label for="">Nailist</label>
                    <select name="" id="" class="bg-biru">
                        <option value="">1</option>
                        <option value="">2</option>
                        <option value="">3</option>
                    </select>
                </div>
                <div class="mb-2">
                    <label for="">Tanggal</label>
                    <input type="date" name="" id="">
                </div>

            </form>
        </div>
    </div>
</body>
</html>