<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./../../../css/styles.css">
</head>
<body>
    <section>
        <div class="container mx-auto py-20">
            <div class="w-9/12 mx-auto">
                <form action="/admin/profile" method="post">
                    <div class="flex flex-col items-center justify-center gap-2">
                        <div>
                            <input type="text" name="name" id="" value="email@email.com" class="w-full p-2 border-2 border-abu rounded-lg bg-dark-white" disabled>
                        </div>
                        <div>
                            <input type="text" name="name" id="" value="Name" class="w-full p-2 border-2 border-abu rounded-lg">
                        </div>
                        <div>
                            <button type="submit" class="w-full p-2 bg-biru rounded-lg text-dark-white">Update</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>
</body>
</html>